<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chj.mapper.ArticleMapper">
    <select id="list" resultType="com.chj.pojo.Article">
        select * from article
        <where>
            <if test="categoryId!=null">
                category_id=#{categoryId}
            </if>
        <if test="state!=null">
            and state = #{state}
        </if>
        and create_user=#{userId}
        </where>
        <if test="embedding!=null">
            order by embedding &lt;=&gt; #{embedding}::vector ASC
        </if>
    </select>

    <select id="listByIdCursor" resultType="com.chj.pojo.Article">
        select * from article
        <where>
            id > #{lastId}
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="userId!=null">
                and create_user = #{userId}
            </if>
        </where>
        order by id asc
        limit #{limit}
    </select>
    <select id="listArticle" resultType="com.chj.pojo.Article">
        SELECT * FROM article
        WHERE create_user = #{userId}
        <if test="data != null and data.size() > 0">
            AND (
            <foreach collection="data" item="kw" separator=" OR ">
                content @@ #{kw}
            </foreach>
            )
        </if>
    </select>

    <select id="listArticleByVector" resultType="com.chj.pojo.Article">
        SELECT *
        FROM article
        WHERE create_user = #{userId}
          AND embedding IS NOT NULL
        ORDER BY embedding &lt;=&gt; #{embedding}::vector ASC
        LIMIT #{limit}
    </select>

</mapper>